---
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
import { Img } from "astro-imagetools/components";
import Section from "@/components/widgets/Section.astro";

const specialties = await getCollection("specialties");
---

<Layout>
  <!-- Hero Section -->
  <section>
    <h1>Index</h1>
  </section>

  <!-- Top Specialty -->
  <Section sectionTitle="Top Specialty">
    <ul class="flex justify-center">
      {
        specialties.length ? (
          [...specialties].splice(0, 4).map((specialty) => (
            <li class="w-1/4 p-2">
              <a
                class="block overflow-hidden rounded-lg"
                href={`/specialties/${specialty.slug}`}
              >
                <figure class="relative">
                  <div class="h-96">
                    <Img
                      src={specialty.data.image_url}
                      alt={specialty.data.title}
                    />
                  </div>
                  <figcaption class="absolute p-2 bg-black bg-opacity-50 text-white bottom-0 w-full text-center">
                    <p>{specialty.data.title}</p>
                  </figcaption>
                </figure>
              </a>
            </li>
          ))
        ) : (
          <li>No specialties found</li>
        )
      }
    </ul>
  </Section>
</Layout>
